
.EdgeLayout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column ;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}
.EdgeLayout .Row {
    display: flex;
    width: 100%;
}
.EdgeLayout .Top.Row {
}
.EdgeLayout .Top.Row .Center {
    flex-grow: 1;
}
.EdgeLayout .Middle.Row {
    flex-direction: row;
    flex-grow: 1;
}
.EdgeLayout .Middle.Row .Left {
    width: 0;
}
.EdgeLayout .Middle.Row .Center {
    flex-grow: 1;
}
.EdgeLayout .Middle.Row .Right {
    width: 0;
}
.EdgeLayout .Bottom.Row {
}
.EdgeLayout .Bottom.Row .Center {
    flex-grow: 1;
}
